@import '~styles/variables';

.root {
  padding: 0 15px;
}

.site {
  display: flex;
}

.title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  color: $color-white;
}

.right {
  width: 47.5%;
  height: 100%;
  background-color: $color-white;
}
