* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 2.2vw;
  line-height: 1.2;
  background-color: #fff;
}

.main-body {
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  max-width: 1920px;
  min-width: 315px;
  background-color: #244b69;
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
}

