.main-blank-item {
  width: 100%;
  font-size: 20px;
}

.main-blank-item__value {
  border-bottom: 1px solid #0b295b;
  display: inline;
  width: 250px;
  font-size: 21px;
  line-height: 14px;
  min-height: 21px;
  word-wrap: break-word;
}

.main-blank-item__longvalue {
  border-bottom: 1px solid #0b295b;
  display: inline;
  width: 100%;
  font-size: 21px;
  line-height: 14px;
  min-height: 21px;
  word-wrap: break-word;
}
